.btn{
	padding: 10px 30px;
	background-color: #fff;
	border-radius: 10px;

	font-size: 18px;
	line-height: 22px;
	color: #000000;

	transition: color 0.2s ease-in, background-color 0.2s ease-in;

	&:hover{
		color: #fff;
		background-color: $primary-dark;
	}

}