@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import './vars.scss';

html, body{
	@include params(16px, 120%);
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	background-color: #9B9B9B;
}


.wrapper {
	max-width: $container-width;
	margin: 0 auto;

	@media (max-width: $md1){
		max-width: $second-container-width;
	}

	@media (max-width: $md2){
		max-width: $third-container-width;
	}

	@media (max-width: $md3){
		max-width: $fourth-container-width;
	}
}